Welcome to PyData Special Interest Group @ SF Python Project Night
-----

The goal is to have a common dataset to explore together. 

We are going to explore the Diamond Dataset ðŸ’Ž

It is a choose-your-own-adventure. If you are interested in visualization, do that. If you are interested in statistical modeling, explore that. If you are interested in machine learning or deep learning, try that.

You can download and run this notebook locally. Or you can run it in the cloud by clicking [here](https://colab.research.google.com/github/brianspiering/PyDataSIG/blob/master/2019-03-20-PyData-Diamond-Dataset.ipynb).

In [1]:
# Here are common imports to get you started
import keras
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

%matplotlib inline

Using TensorFlow backend.

In [2]:
# Let's grab the data from GitHub
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv'
diamonds = pd.read_csv(url)

The dataset contains different features of a diamond:

- carat - weight of the diamond (0.2--5.01)
- cut - quality of the cut (Fair, Good, Very Good, Premium, Ideal)
- color -  diamond colour, from J (worst) to D (best)
- clarity - a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
- depth - total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
- table - width of top of diamond relative to widest point (43--95)
- price - price in US dollars ($326--$18,823)
- x - length in mm (0--10.74)
- y - width in mm (0--58.9)
- z - depth in mm (0--31.8)

![](https://www.everything-wedding-rings.com/images/diamondanatomyimproved.jpg)

In [3]:
# Let's take a peak at the data
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
print(f"There are {diamonds.shape[0]:,} rows in the Diamonds Dataset.")

There are 53,940 rows in the Diamonds Dataset.

Here sample ideas:
    
- Is there a linear relationship between carat size and price of the diamond? You might assume the heavier the diamond is, the higher the price should be. 

- Is the relationship between carat size and price of the diamond different for base on the type of cut? or the color? or a combination of cut and color?